.bodys{
     background-color:black;
     /*the color of the background*/
}
.h1c{
     color: rgb(219, 219, 219);
     /*the color of the word in upper left corner*/
}
.imgs{
     top:10px;
}
.yellow{
     font:normal 20px arial;
     color:yellow;
     position:relative;
     top:-60px}
 .yellow0{
     font: normal 20px arial;
      color:yellow;
      height: 1px;
      position:relative;
      top:-60px}
 .red{font: normal 20px arial;
     color:red;
     height: 1px;
     position:relative;
     top:-60px}
 .red0{font: normal 20px arial;
     color:red;
     margin: 90px;
     height: 1px;
     position:relative;
     top:-60px}
 .blue{font: normal 20px arial;
      color: blue;
      height: 1px;
      position:relative;
      top:-60px}
 .blue0{font: normal 20px arial;
      color: blue;
      height: 1px;
      position:relative;
      top:-60px}
 .green{font: normal 20px arial;
      color:green;
      height: 1px;
      position:relative;
      top:-60px}
 .green0{font: normal 20px arial;
      color:green;
      margin: 90px;
      height: 1px;
      position:relative;
      top:-60px}
 .test{
         width: 100px;
         height: 100px;
         background:yellow;
         border-color: yellow;
         box-shadow:1px 1px 0px rgb(50, 50, 0);
         transition: 3s;
         position:relative;
         border-radius: 10%;}
 .test2{
         width: 100px;
         height: 100px;
         background:red;
         border-color: red;
         box-shadow:1px 1px 0px  rgb(50, 0, 0);
         transition: 2s;
         position:relative;
         border-radius: 20%;}
 .test3{width: 100px;
         height: 100px;
         background:blue;
         border-color: blue;
         box-shadow: inset 0,7px 0,7px 0px ;
         transition: 2s;
         position:relative;
         border-radius: 40%;}
 .test4{
         width: 100px;
         height: 100px;
         background:green;
         border-color: green;
         box-shadow: inset 0,7px 0,7px 0px ;
         transition: 2s;
         position:relative;
         border-radius: 80%;}
 .result{
      width: 150px;
      height: 150px;
      background:black;
      border-color:white;
      box-shadow: inset 0,5;
      color: white;
      position:relative;
      top:-20px;
      border-radius:100px;}    
 .result2{
      width: 150px;
      height: 150px;
      background:rgb(0, 0, 0);
      border-color:white;
      box-shadow: inset 0,5;
      color: white;
      position:relative;
      top:-20px;
      border-radius:100px;}    
 .result3{
      width: 150px;
      height: 150px;
      background:black;
      border-color:white;
      box-shadow: inset 0,5; 
      color:white;
      position:relative;
      top:-20px;
      border-radius:100px;}
 .result4{
      width: 150px;
      height: 150px;
      background:black;
      border-color:white;
      box-shadow: inset 0,5;
      color:white;
      position:relative;
      top:-20px;
      border-radius:100px;}
 .result5{
      width: 150px;
      height: 150px;
      background:black;
      border-color:white;
      box-shadow: inset 0,5; 
      color:white;
      position:relative;
      top:-20px;
      border-radius:100px;}
 .result6{
      width: 150px;
      height: 150px;
      background:rgb(0, 0, 0);
      border-color:white;
      box-shadow: inset 0,5; 
      color:white;
      position:relative;
      top:-20px;
      border-radius:100px;}
     .imgs{
     width: 50px;
     height: 50px;
     position:relative;
     top: -5px;
     left: 850px;}
 